Pies I have eaten:

<div>
  <.pie_chart id="pie_chart" chart-data={@pies_eaten}></.pie_chart>
</div>

<button class="btn btn-blue" phx-click="eat_pie" phx-value-pie="apple">Eat an apple pie</button>
<button class="btn btn-blue" phx-click="eat_pie" phx-value-pie="cherry">Eat a cherry pie</button>
<button class="btn btn-blue" phx-click="eat_pie" phx-value-pie="blueberry">Eat a blueberry pie</button>
